body {
    font-family: 'Helvetica Neue', Helvetica, Arial, 'Hiragino Sans GB', 'WenQuanYi Micro Hei', 'Microsoft YaHei', sans-serif;
    font-size: 16px
}

.msg {
    position: absolute;
    top: -80px;
    left: 50%;
    width: 200px;
    background: orange;
    z-index: 1;
    background: rgba(255, 212, 36, 0.9);
    text-align: center;
    margin-left: -100px;
    border-bottom: 1px solid rgba(240, 193, 0, 0.9);
    border-left: 1px solid rgba(240, 193, 0, 0.9);
    border-right: 1px solid rgba(240, 193, 0, 0.9);
    padding: 8px 0
}