body {
    font-family: 'Helvetica Neue', Helvetica, Arial, 'Hiragino Sans GB', 'WenQuanYi Micro Hei', 'Microsoft YaHei', sans-serif;
    font-size: 16px
}

body {
    background: #222222
}

.left-nav {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 230px;
    background: #444444;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.left-nav .logo {
    position: absolute;
    width: 80%;
    left: 60px;
    right: 0;
    margin: auto;
    margin-top: 20px;
    color: rgba(255, 255, 255, 0.8);
    font-size: 32px;
    font-weight: lighter
}

.left-nav .logo .oh {
    font-weight: 400
}

.left-nav .logo img {
    width: 100%
}

.left-nav .logo .loading {
    height: 32px;
    width: 32px;
    position: absolute;
    right: 40px;
    top: 4px;
    background: url(data:image/gif;base64,R0lGODlhGAAYAIAAAK2trTE6QiH/C05FVFNDQVBFMi4wAwEAAAAh+QQFDwABACwDAAkAEgAGAAACFIQReah7GRZ0r5lJWayb4ms5n7YUACH5BAkPAAEALAIABwATAAoAAAIbhB+pq4cMwwMR0lbZTTvL1WVdWI1e45BRqkIFACH5BAkPAAEALAMABwASAAoAAAIdjA+px63r4EtmylktyI/jYHkd+GkbOY5M2LQsUwAAIfkECQ8AAQAsAwAIABMACAAAAhqMjwfLrWyaBG/FCa8NOPPcbd8WUpo5Jeq5FAA7) center center no-repeat;
    display: none
}

.left-nav .btn {
    position: relative;
    width: 160px;
    height: 40px;
    border-radius: 4px;
    text-align: center;
    line-height: 40px;
    transition: background 0.1s, border-color 0.1s;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.6);
    color: rgba(255, 128, 0, 0.8)
}

.left-nav .btn:hover {
    background: rgba(255, 255, 255, 0.8);
    color: #ff8000;
    border-color: rgba(255, 255, 255, 0.8)
}

.left-nav .btn:active {
    background: rgba(255, 255, 255, 0.6);
    border-color: rgba(255, 255, 255, 0.6)
}

.left-nav .prev,
.left-nav .next,
.left-nav .random {
    margin: 10px auto
}

.left-nav .prev {
    margin-top: 120px
}

.left-nav .bottom-btngrp {
    position: absolute;
    bottom: 12px;
    width: 100%
}

.left-nav .bottom-btngrp .new {
    margin: 10px auto;
    background: rgba(255, 255, 255, 0.8);
    color: #ff8000;
    border-color: rgba(255, 255, 255, 0.8)
}

.left-nav .bottom-btngrp .new:active {
    background: rgba(255, 255, 255, 0.6);
    border-color: rgba(255, 255, 255, 0.6)
}

.left-nav .bottom-btngrp .setting {
    margin: auto
}

.left-nav .bottom-btngrp .user-info {
    color: rgba(255, 255, 255, 0.8);
    margin: auto;
    width: 160px;
    margin-top: 32px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-pack: distribute;
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    justify-content: space-around
}

.left-nav .bottom-btngrp .user-info .user-email,
.left-nav .bottom-btngrp .user-info .logout-btn {
    font-size: 12px;
    display: inline-block
}

.left-nav .bottom-btngrp .user-info .user-email {
    flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    -webkit-box-flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.left-nav .bottom-btngrp .user-info .logout-btn {
    cursor: pointer
}

.left-nav .bottom-btngrp .user-info .logout-btn:hover {
    text-decoration: underline
}

.left-nav .link {
    color: rgba(255, 255, 255, 0.8);
    width: 160px;
    margin: auto;
    text-align: right;
    font-size: 12px;
    cursor: pointer;
    margin-top: -4px
}

.left-nav .link:hover {
    text-decoration: underline
}

.paper-holder {
    position: absolute;
    left: 230px;
    right: 0;
    top: 0;
    bottom: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    box-align: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-self: center;
    -webkit-align-self: center;
    align-items: flex-start;
    box-align: flex-start;
    -webkit-box-align: flex-start;
    -webkit-align-items: flex-start;
    align-self: flex-start;
    -webkit-align-self: flex-start;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center
}

.paper {
    position: relative;
    background: white;
    width: 720px;
    min-height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.09);
    margin: 12px
}

.paper.empty {
    display: none
}

.paper.empty .text {
    margin: 80px;
    margin-top: 120px;
    padding: 12px;
    background: rgba(0, 0, 0, 0.09);
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.09)
}

.paper.deleted {
    background: rgba(0, 0, 0, 0.09)
}

.paper .title {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    box-align: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-self: center;
    -webkit-align-self: center;
    font-size: 18px;
    font-weight: 500;
    margin: 20px 28px 20px 28px;
    padding: 2px 0
}

.paper .title .main {
    border-bottom: 1px solid black
}

.paper .title .diff {
    color: rgba(0, 0, 0, 0.12);
    flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    -webkit-box-flex: 1;
    margin-left: 12px;
    text-align: right;
    font-size: 14px
}

.paper .title .diff:hover {
    color: rgba(0, 0, 0, 0.54)
}

.paper .content {
    margin: 0 28px 80px 28px
}

.paper .bottom {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 12px 28px
}

.paper .bottom .edt {
    color: rgba(0, 0, 0, 0.12);
    font-size: 14px;
    display: inline-block;
    margin-right: 12px
}

.paper .bottom .edt:hover {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.54)
}

.paper .bottom .del {
    color: rgba(0, 0, 0, 0.12);
    font-size: 14px;
    display: inline-block
}

.paper .bottom .del:hover {
    cursor: pointer;
    color: red
}

.calendar {
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.09);
    margin: 12px;
    width: 240px;
    background: white;
    font-size: 10px
}

.calendar .header {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    box-align: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-self: center;
    -webkit-align-self: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.09);
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
    padding: 6px 12px;
    color: rgba(0, 0, 0, 0.54)
}

.calendar .header .title {
    color: rgba(0, 0, 0, 0.87);
    font-weight: bold
}

.calendar .header .ctrl {
    color: rgba(0, 0, 0, 0.12);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.calendar .header .ctrl:hover {
    color: rgba(0, 0, 0, 0.87);
    cursor: pointer
}

.calendar .content {
    margin: 6px 12px;
    width: calc(100% - 24px)
}

.calendar .content th,
.calendar .content td {
    text-align: center;
    height: 24px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.calendar .content td:hover {
    cursor: default
}

.calendar .content td .inner {
    position: relative;
    padding: 2px 0;
    width: 80%;
    margin-left: 10%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    align-items: center;
    box-align: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-self: center;
    -webkit-align-self: center
}

.calendar .content td.hasDiary .inner {
    color: #ff8000
}

.calendar .content td.hasDiary:hover,
.calendar .content td.hasDiary.active {
    cursor: pointer
}

.calendar .content td.hasDiary:hover .inner,
.calendar .content td.hasDiary.active .inner {
    background: #ff8000;
    color: white
}

.calendar .content td.today .inner {
    background: rgba(0, 0, 0, 0.12);
    color: black
}

.calendar .content td.today:hover {
    cursor: pointer
}

.config-panel {
    display: none;
    position: fixed;
    width: 80%;
    height: 80%;
    background: white;
    left: 0;
    right: 0;
    top: 50%;
    bottom: 0;
    margin: auto;
    box-shadow: 0 0 8px #222
}

.config-panel iframe {
    width: 100%;
    height: 100%;
    border: none;
    display: none
}

.ui.visible.dimmer {
    opacity: 0.2
}

.float-panel {
    position: fixed;
    z-index: 1000;
    width: 800px;
    height: 400px;
    left: 50%;
    margin-left: -400px;
    top: 50%;
    margin-top: -200px;
    background: rgba(0, 0, 0, 0.8);
    color: rgba(255, 255, 255, 0.8);
    border-radius: 4px;
    box-shadow: 0 0 2px black;
    display: none
}

.float-panel .close-btn {
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px 40px
}

.float-panel .close-btn:hover {
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
    cursor: pointer
}

.float-panel .title {
    margin: 20px 40px
}

.float-panel ul {
    margin: 0;
    padding: 0;
    margin: 20px 40px
}

.float-panel ul .sub-title {
    font-size: 14px
}

.float-panel li {
    list-style: none;
    margin: 0;
    padding: 0
}

.float-panel li .key {
    background: rgba(128, 128, 128, 0.8);
    padding: 0px 10px 1px 10px;
    text-align: center;
    font-size: 12px;
    border-radius: 4px;
    font-family: Courial
}

.float-panel li .val {
    font-size: 12px
}