#loader {
    border-radius: 8px;
    width: auto;
    display: inline-block;
    height: auto;
    padding: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -50px
}

.spin {
    height: 20px;
    width: 20px;
    background: seagreen;
    border-radius: 2px;
    box-shadow: 0 0 20px rgba(46, 139, 87, 0.2);
    border: 1px solid #FFF;
    float: left;
    margin: 0 2px;
    opacity: 0
}

#load1 {
    animation: load1 1s infinite;
    -webkit-animation: load1 1s infinite;
    -moz-animation: load1 1s infinite;
    -ms-animation: load1 1s infinite;
    animation-delay: 0s;
    -webkit-animation-delay: 0s;
    -moz-animation-delay: 0s;
    -ms-animation-delay: 0s
}

#load2 {
    animation: load2 1s infinite;
    -webkit-animation: load2 1s infinite;
    -moz-animation: load2 1s infinite;
    -ms-animation: load2 1s infinite;
    animation-delay: 0.1s;
    -webkit-animation-delay: 0.1s;
    -moz-animation-delay: 0.1s;
    -ms-animation-delay: 0.1s
}

#load3 {
    animation: load3 1s infinite;
    -webkit-animation: load3 1s infinite;
    -moz-animation: load3 1s infinite;
    -ms-animation: load3 1s infinite;
    animation-delay: 0.2s;
    -webkit-animation-delay: 0.2s;
    -moz-animation-delay: 0.2s;
    -ms-animation-delay: 0.2s
}

#load4 {
    animation: load3 1s infinite;
    -webkit-animation: load3 1s infinite;
    -moz-animation: load3 1s infinite;
    -ms-animation: load3 1s infinite;
    animation-delay: 0.3s;
    -webkit-animation-delay: 0.3s;
    -moz-animation-delay: 0.3s;
    -ms-animation-delay: 0.3s
}

#load5 {
    animation: load3 1s infinite;
    -webkit-animation: load3 1s infinite;
    -moz-animation: load3 1s infinite;
    -ms-animation: load3 1s infinite;
    animation-delay: 0.4s;
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    -ms-animation-delay: 0.4s
}

@-webkit-keyframes load1 {
    0% {
        opacity: 0
    }

    50% {
        opacity: 1;
        transform: scaleY(2)
    }

    100% {
        opacity: 0
    }
}

@-moz-keyframes load1 {
    0% {
        opacity: 0
    }

    50% {
        opacity: 1;
        transform: scaleY(2)
    }

    100% {
        opacity: 0
    }
}

@keyframes load1 {
    0% {
        opacity: 0
    }

    50% {
        opacity: 1;
        transform: scaleY(2)
    }

    100% {
        opacity: 0
    }
}

@-webkit-keyframes load2 {
    0% {
        opacity: 0
    }

    50% {
        opacity: 1;
        transform: scaleY(2)
    }

    100% {
        opacity: 0
    }
}

@-moz-keyframes load2 {
    0% {
        opacity: 0
    }

    50% {
        opacity: 1;
        transform: scaleY(2)
    }

    100% {
        opacity: 0
    }
}

@keyframes load2 {
    0% {
        opacity: 0
    }

    50% {
        opacity: 1;
        transform: scaleY(2)
    }

    100% {
        opacity: 0
    }
}

@-webkit-keyframes load3 {
    0% {
        opacity: 0
    }

    50% {
        opacity: 1;
        transform: scaleY(2)
    }

    100% {
        opacity: 0
    }
}

@-moz-keyframes load3 {
    0% {
        opacity: 0
    }

    50% {
        opacity: 1;
        transform: scaleY(2)
    }

    100% {
        opacity: 0
    }
}

@keyframes load3 {
    0% {
        opacity: 0
    }

    50% {
        opacity: 1;
        transform: scaleY(2)
    }

    100% {
        opacity: 0
    }
}

@-webkit-keyframes load4 {
    0% {
        opacity: 0
    }

    50% {
        opacity: 1;
        transform: scaleY(2)
    }

    100% {
        opacity: 0
    }
}

@-moz-keyframes load4 {
    0% {
        opacity: 0
    }

    50% {
        opacity: 1;
        transform: scaleY(2)
    }

    100% {
        opacity: 0
    }
}

@keyframes load4 {
    0% {
        opacity: 0
    }

    50% {
        opacity: 1;
        transform: scaleY(2)
    }

    100% {
        opacity: 0
    }
}

@-webkit-keyframes load5 {
    0% {
        opacity: 0
    }

    50% {
        opacity: 1;
        transform: scaleY(2)
    }

    100% {
        opacity: 0
    }
}

@-moz-keyframes load5 {
    0% {
        opacity: 0
    }

    50% {
        opacity: 1;
        transform: scaleY(2)
    }

    100% {
        opacity: 0
    }
}

@keyframes load5 {
    0% {
        opacity: 0
    }

    50% {
        opacity: 1;
        transform: scaleY(2)
    }

    100% {
        opacity: 0
    }
}